Repository buku-masjid/buku-masjid, pull requests merged in 2024-03, with the labels that each got.

#52 Task 48 : API Endpoint Profil Masjid
  app/Http/Controllers/Api/MasjidProfileController.php
  routes/api.php
  tests/Feature/Api/MasjidProfileTest.php
Labels: api

#53 Task 49 : API Endpoint Jadwal Pengajian
  app/Http/Controllers/Api/PublicScheduleController.php
  routes/api.php
  tests/Feature/Api/PublicScheduleTest.php
Labels: api

#51 Bugfix: Ijinkan nilai setting bernilai null
  app/Helpers/Setting.php
  tests/Unit/Helpers/SettingTest.php
Labels: bug

#62 Melihat Laporan 1 Tahun
  app/Http/Controllers/Reports/FinanceController.php
  resources/lang/en/app.php
  resources/lang/id/app.php
  resources/views/public_reports/finance/in_months/categorized.blade.php
  resources/views/public_reports/finance/in_months/detailed.blade.php
  resources/views/public_reports/finance/in_months/summary.blade.php
  resources/views/reports/finance/in_months/categorized.blade.php
  resources/views/reports/finance/in_months/categorized_pdf.blade.php
  resources/views/reports/finance/in_months/detailed.blade.php
  resources/views/reports/finance/in_months/detailed_pdf.blade.php
  resources/views/reports/finance/in_months/summary.blade.php
  resources/views/reports/finance/in_months/summary_pdf.blade.php
Labels: enhancement
